<div class="container" id="content_avatar">
  <div class="row">
    <div class="card col-md-5 mx-auto" id="card_avatar">
      <div class="card-header">
        <div class="card-title text-light text-center">
            <h4>Upload your avatar</h4>
          </div>
      </div>
      <div class="card-body">
        <div class="row">
        <form class="form-group" method="post" enctype="multipart/form-data" action="/avatar">
          <input class="form-control mt-2" type="text" name="alias" id="alias" placeholder="Enter your alias">
          <input class="form-control mt-2" type="file" name="image" id="image">
          <input class="btn btn-primary mt-2" type="submit" value="Upload">
          <a href='/home' class="btn btn-info mt-2" id="btn-back">Back</a>
        </form>
        </div>
        </div>
    </div>
  </div>
</div>
