<div class="col-md-3 mx-auto " id="content_login">
      <div class="card" id="card_login">
        <div class="card-header">
          <div class="card-title text-light text-center">
              <h4>Login</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="form-group p-2">
            <form action="/login" method="post">
              <input class="form-control mt-2" type="text" id="user" name="user" placeholder="Username">
              <input class="form-control mt-2" type="email" id="email" name="email" placeholder="Email">
              <input class="form-control mt-2" type="password" id="password" name="password" placeholder="Password">
              <div class="row">
                <div class="col-md-3">
                  <input class="btn btn-primary mt-2" type="submit" id="btn_login" value="Login">
                </div>
                <div class="float-right mt-2">
                  <a class="text-warning text-decoration-none" href="#" id="register">Register</a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

