<li class="page-item">
  <a href="/myVideos/2" class="page-link">2</a>
</li>
<li class="page-item">
    <a href="/myVideos/3" class="page-link">3</a>
</li>
<li class="page-item">
    <a href="/myVideos/4" class="page-link">4</a>
 </li>
<li class="page-item">
  <a href="/myVideos/5" class="page-link">5</a>
</li>
<li class="page-item">
  <a href="/myVideos/6" class="page-link">6</a>
</li>
<li class="page-item">
  <a href="/myVideos/7" class="page-link">7</a>
</li>
<li class="page-item">
  <a href="/myVideos/8" class="page-link">8</a>
</li>
<li class="page-item">
  <a href="/myVideos/9" class="page-link">9</a>
</li>
<li class="page-item">
  <a href="/myVideos/10" class="page-link">10</a>
</li>
<li class="page-item">
  <a href="/myVideos/11" class="page-link">11</a>
</li>
<li class="page-item">
  <a href="/myVideos/12" class="page-link">12</a>
</li>
<li class="page-item">
  <a href="/myVideos/13" class="page-link">13</a>
</li>
<li class="page-item">
  <a href="/myVideos/14" class="page-link">14</a>
</li>
<li class="page-item">
  <a href="/myVideos/15" class="page-link">15</a>
</li>
<li class="page-item">
  <a href="/myVideos/16" class="page-link">16</a>
</li>

