<div class="row">
  <div class="container col-md-3 bg-dark text-light shadow shadow-lg" id="menu">
    <div class="container">
      <div class="mx-auto text-center mt-4 ">

        <div id="btn-up-avatar" class='col-3' >
          <div class="row">
            {{#each avatar}}
              <form class="col-5" action="/avatar/delete/{{_id}}?_method=DELETE" method="post">
                <input type="hidden" name="method" value="DELETE"></input>
                <button type="submit" class="col-5 bg-transparent border border-dark text-warning" title="Change Your avatar"><i id="change-avatar" class="fas fa-redo-alt"></i></button>
                </form>
              {{/each}}
              <a class="col-5 " href="/create-avatar" title="Upload Your avatar"><i id="camera" class="fas fa-camera"></i></a>
          </div>
        </div>
        {{#each avatar}}
        <div id="avatar">
          <img src="{{path}}" class="img-fluid img-thumbnail rounded-circle" width="200" />
          <div id="alias" class="text-center p-2 ">
            <strong>{{alias}}</strong>
          </div>
          </div>
    {{/each}}
      </div>

      <div id="buttons" class="p-2 d-grid gap-2">
        <a id="btn-v-up" class="btn btn-info m-2">Upload video</a>
        <a id="btn-r-up" class="btn btn-info m-2">Upload Radio</a>
        <a id="btn-my-v" class="btn btn-info m-2" href="/myVideos/pages">My videos</a>
        <a id="btn-my-r" class="btn btn-info m-2" href="/myRadios/pages">My Radios</a>
        <a id="btn-full" class="btn btn-info m-2" href="https://tunein.com/radio/home/" target="_blank">Search Tunein radios</a>
        <a id="btn-full" class="btn btn-info m-2" href="https://vimeo.com/search" target="_blank">Search Vimeo videos</a>

      </div>

    </div>
  </div>

  <div class="col-md-9" id='content'>

    <div>
      <a href="/logout" class="text-decoration-none btn btn-info mt-2" style="margin-left: 93%;">Exit</a>
    </div>

    <div class="card mx-auto col-md-5  p-4 text-center text-light" id="card-welcome">
      <strong>Listen to the best music</strong>
      <strong>selected by you!</strong>
      <strong>create your list of videos and radio!</strong>
      <small class="mt-3 text-warning font-weight-bold" >Choose an option in the menu!</small>
    </div>


  <!--Upload video form -->
  <div id="upload-video">

        <!-- alert succes -->

          <div id="msg_suc" class='col-md-4 mx-auto mt-4 p-3 position-absolute' style="z-index: 100; right: 5%; top:5%"></div>


       <div id="card-upload" class="card col-md-7 mx-auto">

          <div class='card-header text-center text-light'>
            <div class='card-title'>
              <h4>Upload video</h4>
            </div>
          </div>
          <div class="card-body">
            <form action="/upload/video" method="post">

              <div class="form-group p-3">

              <!-- messages -->

                <div id='msg_err'>
                </div>

                <input class="form-control mt-2" type="text" id="v_link" name="v_link" placeholder="Enter only the number Example: 8366537">
                <small class="text-light">ex: https://vimeo.com/<code>8366537</code></small>
              </div>

              <div class="form-group p-3">
                  <input class="form-control" type="text" id="v_name" name="v_name" placeholder="Artist name">
              </div>

              <div class="form-group p-3">
                  <input class="form-control" type="text" id="v_song" name="v_song" placeholder="Name of the song">
              </div>

              <div class="form-group p-3">
                  <input class="form-control" type="text" id="v_description" name="v_description" placeholder="Short description (optional)">
              </div>

              <div class="form-group p-3">
                <input type="submit" id="btn_up_video" onclick="return validate_video()" class="btn btn-primary col-3" value="Done">
                <button id='btn-back' class="btn btn-primary col-3" >Back</button>
              </div>
            </form>
          </div>
        </div>
     </div>

  <!--Upload radio form -->
  <div id="upload-radio">

      <div id="msg_suc_r" class='col-md-4 mx-auto mt-4 p-3 position-absolute' style="z-index: 100; right: 5%; top:5%"></div>


        <div id="card-upload" class="card col-md-7 mx-auto">
          <div class='card-header text-center text-light'>
            <div class='card-title'>
              <h4>Upload radio</h4>
            </div>
          </div>
          <div class="card-body">
            <form action="/upload/radio" method="post">

              <div class="form-group p-3">

               <!-- messages -->

                <div id='msg_err_r'>
                </div>



                <input class="form-control" type="text" id="r_link" name="r_link" placeholder="Enter the radio ID of Tunein ex: s34673">
                <small class="text-light">ex: https://tunein.com/radio/The-Rock-949-<code>s34673</code></small>
              </div>

              <div class="form-group p-3">
                  <input class="form-control" type="text" id="r_name" name="r_name" placeholder="Radio name">
              </div>

              <div class="form-group p-3">
                  <input class="form-control" type="text" id="r_description" name="r_description" placeholder="Short description (optional)">
              </div>

              <div class="form-group p-3">
                <input type="submit" onclick="return validate_radio()" class="btn btn-primary col-3" value="Done">
                <button id='btn-back' class="btn btn-primary col-3" >Back</button>
              </div>
            </form>
          </div>
        </div>
      </div>

  </div>
  </div>
</div>
